:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #0affed;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f95994;
  --preformatted: #badefc;
  --disabled: #111;
}
h1, h2, h3, h4, h5, h6 {    color: #ce5eed;}
body {
  background-image: url("/1d/img/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0D0C12;
}

main {
    background-color: #212121;
    padding: 2em;
    border-radius: 15px;
}